    <div id="gtco-portfolio" class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2>등록된 프로젝트</h2>
                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-12">

                    <ul id="gtco-portfolio-list">
                        <li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url({{ request.image.image_url }}); ">
                            <a href="#" class="color-1">
                                <div class="case-studies-summary">
                                    <span>Web Design</span>
                                    <h2>View the Earth from the Outer Space</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>